.deregister {
  color: red;
  text-decoration: none;
  text-align: right;
}

.welcome-links {
  text-decoration: none;
  text-align: right;
}

.welcome-buttons {
  text-align: right;
}

.navbar-brand {
  font-family: 'Limelight', sans-serif;
}

.welcome {
  font-size: 3vw;
}

.logo {
  font-family: 'Limelight', sans-serif;
  text-align: center;
  font-size: 9vw;
}